* {
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "REM", sans-serif; */
  font-family: "Press Start 2P", cursive;
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  /* font-family: "REM", sans-serif; */
  font-family: "JetBrains Mono", monospace;
}

button {
  margin: 30px;
}

.hidden {
  display: none !important;
}

.container {
  background-color: #f1f1f8;
}

.startScreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameScreen {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.options {
  display: flex;
}

.course_details {
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* ---- DIALOG BOX ---- */
.dialogBox {
  display: inline-block;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black;
  border-radius: 2%;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(66, 66, 204) 0 -3px 0 inset;
  background-color: rgb(66, 66, 204);
}

.content {
  font-family: "JetBrains Mono", monospace;
  color: white;
  font-size: 1.25rem;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  align-items: center;
  background-color: #fcfcfd;
  border-radius: 4px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 30px;
  justify-content: center;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 18px;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

/* ---- HIGH SCORES SCREEN ------ */
.scoreScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(41, 39, 39);
  /* background-color: rgba(10, 7, 19, 0.4); */
  padding: 20px 60px 20px 60px;
  border: solid #40E1D1 5px;
  border-radius: 2%;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(10, 7, 19, 0.4) 0 -3px 0 inset;
}

.scoreScreen h2 {
  color: #05CCCE;
  font-size: 3rem;
  margin-bottom: 60px;
}

.scoreList {
  padding: 10px;
  text-align: center;
}

.scoreList th {
  font-size: 1.5rem;
  padding: 10px 40px 10px 40px;
  color: #40E1D1;
}

.scoreBody td {
  color: white;
  padding: 10px;
}

.closeBtn {
  margin-top: 50px;
  font-size: 25px !important;
  height: 40px !important;
}